fastapi
uvicorn[standard]
langchain
langchain-community
langchain-text-splitters
pypdf
python-multipart
tqdm
python-dotenv
pydantic-settings
faiss-cpu
langchain-google-genai
pytest
neo4j   
tiktoken
aiohttp
google-generativeai